<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-default pull-left" (click)="onPrevious()" [disabled]="!disabledPrevButton">Previous</button>
    <button class="btn btn-default pull-right" (click)="onNext()" [disabled]="!disabledNextButton">Next</button>
    <form>
      <div class="form-group" [ngStyle]="{'margin-bottom': '0'}">
        <label for="title"></label>
        <input class="form-control" placeholder="Search..." [formControl]="filmFormControl" type=text id="title" autocomplete="off" autofocus>
      </div>
    </form>
    <div>
      <ul class="list-group list-unstyled">
        <li>{{ searchResult }}</li>
        <li *ngIf="isDone">
          <img href="/src/app/items/images/ring.svg">
          <p>Loading...</p>
        </li>
        <li *ngIf="isDone">
          <omdb-film-films-item *ngFor="let film of films" [film]="film"></omdb-film-films-item>
        </li>
      </ul>
    </div>
  </div>
</div>
