<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-default" (click)="onNext()" [disabled]="!disabledButton">Next</button>
    <form>
      <div class="form-group" [ngStyle]="{'margin-bottom': '0'}">
        <label for="title"></label>
        <input class="form-control" [formControl]="filmFormControl" type=text id="title" autocomplete="off" autofocus>
      </div>
    </form>
    <div>
      <ul class="list-group">
        <omdb-film-films-item *ngFor="let film of films" [film]="film"></omdb-film-films-item>
      </ul>
    </div>
  </div>
</div>
