<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" [routerLink]="['/']">Omdb</a>
    </div>
    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a [routerLink]="['/films']">Search Films</a></li>
        <li routerLinkActive="active"><a [routerLink]="['/compare-films']">Compare List <span class="badge">{{ countLength }}</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" omdbFilmDropdown>
          <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false">Films Managment <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li routerLinkActive="active"><a [routerLink]="['/compare-films']" style="cursor: pointer">Compare Films</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
